html {
  scroll-behavior: smooth;

}


#materials {
  background-color: #BC9E82;
  padding: 10px;
  border-radius: 20px;
  margin-top: 5px;
  width: 300px;
  margin-left: 30px;
  box-shadow: 5px 5px 5px black;
  color: white;
  
}
.imge{
  float: top;

}
h4 {
  font-size: 12px;
}
